/* ==== COMPILE =====
sass --watch wedding-5/short/_assets/scss/app.scss:wedding-5/short/_assets/css/app.min.css --style compressed
*/

@import url('https://fonts.googleapis.com/css2?family=Prata&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$colors: (
    'primary'       : #EB7B8A,
    'secondary'     : #FFEDE1,
    'light'         : #FAF6F3,
    'danger'        : #b44d4d,
    'dark'          : #261416,
    'dark-500'      : #323232b1,
    'white'         : #FFFFFF,
    'black'         : #000000,
);
$breakpoints: (
    'sm'        : 576px,
    'md'        : 768px,
    'lg'        : 992px,
    'xl'        : 1200px,
    'xxl'        : 1400px,
);
$loop-breakpoints: map-remove($breakpoints, 'xxl');

$font-type-secondary: 'Prata', serif;
@function color($value) { @return map-get($colors, $value); }
@function breakpoint($value) { @return map-get($breakpoints, $value); }

// RESET
html,:root {
    font-size: 10px;
    scroll-behavior: smooth;
    @media screen and (max-width: breakpoint('sm')) {
        font-size: 9px;
    }
}
html,body {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden !important;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: map-get($colors, 'dark');
}
h1,h2,h3,h4,h5,h6 { font-weight: normal; }
h1 { 
    font-size: 6.4rem; 
    @media screen and (max-width: breakpoint('md')) { font-size: 4.8rem; }
}
h2 { 
    font-size: 4.6rem; 
    @media screen and (max-width: breakpoint('md')) { font-size: 3.2rem; }
}
h3 { font-size: 4.2rem; }
h4 { font-size: 3.2rem; }
h5 { font-size: 2.2rem; }
h6 { 
    font-size: 1.8rem; 
    @media screen and (max-width: breakpoint('md')) { font-size: 1.6rem !important; }
}
p { font-size: 1.4rem; }
.text-lg { 
    font-size: 1.8rem; 
    @media screen and (max-width: breakpoint('md')) { font-size: 1.4rem !important; }
}
.text-md { font-size: 1.6rem; }
.text-sm { font-size: 1.2rem; }
.text-xs { font-size: 1rem; }

// SECTION PAGE
body {
    background-color: color('secondary');
    background-image: 
        linear-gradient(180deg, rgba(color('secondary'), .75) 0%, rgba(color('secondary'), .75) 100%),
        url('../img/misc/header-bridge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    z-index: 1;
    // justify-content: center;
    min-height: 100vh;
    color: color('black');
    // transition: all .3s ease-in;
    &.opening-show {
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    } 
    &.opening-hide {
        min-height: 100vh;
        max-height: unset;
        section#opening {
            animation: opening-hide 2s ease-in forwards;
        }
    }

    .decoration { 
        position: absolute; 
        font-size: 5px;
        z-index: 1;
        @media screen and (min-width: breakpoint('sm')) { font-size: 7px; }
        @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
        &#opening-decoration-1 {
            top: 0; right: 0; 
            width: 25em;
        }
        &#opening-decoration-2 {
            bottom: 0; left: 0;
            width: 25em;
        }
    }
}


section#opening {
    padding: 15rem 0 8rem;
    position: fixed;
    right: 0; left: 0; top: 0; bottom: 0;
    z-index: 9999;
    color: color('dark');
    background-color: color('secondary');
    background-image: 
        linear-gradient(180deg, rgba(color('secondary'), .75) 0%, rgba(color('secondary'), .75) 100%),
        url('../img/misc/header-bridge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
    .container { z-index: 2; position: relative; }
    .img-wrapper-spouse {
        font-size: 8px;
        // @media screen and (min-width: breakpoint('md')) { font-size: 7px; }
        @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
    }
    .decoration { 
        position: fixed; 
        font-size: 5px;
        z-index: 1;
        @media screen and (min-width: breakpoint('sm')) { font-size: 7px; }
        @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
        &#opening-decoration-1 {
            top: 0; right: 0; 
            width: 25em;
        }
        &#opening-decoration-2 {
            bottom: 0; left: 0;
            width: 25em;
        }
    }
}

section#section-1 {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 6rem 0 12rem;
    @media screen and (min-width: breakpoint('lg')) {
        padding: 0;
    }
    .container-xxl {
        padding: 0;
    }
    #section-1-img-wrapper {
        height: 100vh;
        width: 50rem;
        flex-shrink: 0;
        position: relative;
        @media screen and (min-width: breakpoint('xxl')) {
            height: 768px;
        }
        img.img-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .decoration { 
            position: absolute; 
            font-size: 5px;
            z-index: 1;
            @media screen and (min-width: breakpoint('sm')) { font-size: 7px; }
            @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
            &#img-wrapper-decoration {
                bottom: 0; right: 0; 
                width: 25em;
            }
        }
    }
}

section#section-2 {
    padding: 10rem 0;
    .container, .container-xxl {
        position: relative;
        z-index: 999;
    }
    #section-2-card-message {
        .card-body { 
            overflow-x: hidden; 
            overflow-y: auto;
            max-height: 90vh; 
        }
        @media screen and (min-width: breakpoint('lg')) { .card-body { max-height: 490px; } }
    }
    
}

section#section-3 {
    padding: 5rem 0;
    min-height: 100vh;
    
}

section#section-4 {
    padding: 6rem 0 10rem;
    .img-wrapper-spouse {
        font-size: 8px;
        // @media screen and (min-width: breakpoint('md')) { font-size: 7px; }
        @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
    }
}

// COMPONENTS
// override
.navbar {
    padding: 3rem 0;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 9999;

    &.navbar-scrolled {
        position: fixed !important;
        top: 0;
        left: 0; right: 0;
        width: 100vw;
        background-color: color('secondary');
        box-shadow: 0 3px 20px rgba(color('black'), .1);
        z-index: 999;
    }

    .navbar-brand {
        font-family: $font-type-secondary;
        font-weight: 600;
        color: color('dark');
        text-decoration: none;
    }
    .navbar-toggler {
        transition: box-shadow .15s ease-in-out !important;
    }
    .navbar-collapse {
        transition: all .3s ease-in !important;
    }
    .navbar-nav {
        .nav-item {
            padding: 0 2rem;
            @media screen and (max-width: breakpoint('md')) { padding: 0; }
            .nav-link {
                color: color('dark');
                position: relative;
                display: inline-flex;
                align-items: center; justify-content: center;
                letter-spacing: .2rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 1px;
                    bottom: -.4rem;
                    transition: all .8s ease-in;
                }
                &:hover {
                    &::after {
                        width: calc(70% + 1px);
                        opacity: .7;
                        background-color: color('dark');
                    }
                }
                @media screen and (max-width: breakpoint('md')) {
                   font-size: 1.6rem;
                   margin-top: 1.2rem;
                }
                &.active {
                    color: color('dark') !important;
                    &::after {
                        width: calc(70% + 1px);
                        opacity: 1;
                        background-color: color('dark');
                    }
                }
            }
        }
    }
}
.container {
    @media screen and (max-width: breakpoint('md')) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.btn {
    border-radius: 0;
    outline: unset !important;
    font-size: 1.8rem;
    padding: 2rem 3rem;
    transition: all .3s ease-in;
    &.btn-primary {
        background-color: color('primary') !important;
        border: unset !important;
        &:hover {
            box-shadow: 0 10px 30px rgba(color('primary'), .3);
        }
    }
    &.btn-secondary {
        background-color: color('secondary') !important;
        border: unset !important;
        &:hover {
            box-shadow: 0 10px 30px rgba(color('secondary'), .3);
        }
    }
}
.nav {
    &.nav-tabs {
        border-bottom: unset;
        .nav-item {
            &:not(:last-child) {
                padding-right: 2rem;
            }
            .nav-link {
                background-color: unset;
                font-size: 2rem;
                border: 0;
                color: rgba(color('black'), .3);
                padding: 0;
                padding-bottom: 1rem;
                &.active {
                    color: color('black');
                    border-bottom: 1px solid color('black');
                }
            }
        }
    }
}
.list-group {
    &.list-group-flush {
        padding: 0;
        .list-group-item {
            padding: 2rem 1rem;
            background-color: transparent;
        }
    }
}
.tab-content {
    .tab-pane {
        transition: opacity .15s linear !important;
        padding: 4rem 0;
    }
}
.form-label {
    font-size: 1.6rem;
    color: color('dark');
    font-weight: 300;
}
.form-check {
    display: flex;
    align-items: center;
    .form-check-input {
        width: 3rem; height: 3rem;
        border: 0;
        background-color: #F5F5F5;
        margin-right: 1.6rem;
        &:checked {
            background-color: color('primary');
            border-color: color('primary');
            box-shadow: 0 0 1px rgba(color('primary'), .4);
        }
    }
    .form-check-label {
        font-size: 1.6rem;
        color: color('dark');
        font-weight: 300;
        cursor: pointer;
    }
}
.form-control {
    padding: 1.45rem 0;
    font-size: 1.8rem;
    border: 0;
    transition: all .3s ease-in;
    background-color: transparent;
    color: color('black');
    border-bottom: 1px solid #949494;
    border-radius: 0;
    &.is-invalid, &.is-valid {
        background-image: unset;
    }
    &.is-valid { border-color: color('primary');}
    &.is-invalid { border-color: color('danger');}
    &:focus, &:active {
        outline: unset !important;
        box-shadow: unset !important;
        border-bottom: 1px solid color('black');
        background-color: transparent;
        &::placeholder {color: color('black');}
    }
    &::placeholder {
        font-weight: 300;
        color: #949494;
        transition: all .3s ease-in;
    }
}
.form-select {
    padding: 1.7rem;
    font-size: 1.4rem;
    cursor: pointer;
    &.is-invalid, &.is-valid {
        background-image: unset;
    }
    &.is-valid { border-color: color('primary');}
    &.is-invalid { border-color: color('danger');}
    &:focus, &:active {
        outline: unset !important;
        box-shadow: unset !important;
        border: 1px solid color('dark');
    }
}
.valid-feedback {color: color('primary');}
.invalid-feedback {color: color('danger');}
.carousel.carousel-fade {
    .carousel-inner {
        .carousel-item, &.carousel-item.active {
            transition: all 1s ease-in-out !important;
        }
    }
}

// custom
.btn {
    &#btn-play {
        position: fixed;
        bottom: 2rem; right: 2rem;
        z-index: 9999;
    }
    &#btn-to-top {
        position: fixed;
        bottom: 8rem; right: 2rem;
        display: none;
        animation: pop-out .3s linear forwards;
    }
    &.btn-icon {
        padding: 1rem !important;
        width: 4rem !important; height: 4rem !important;
        padding: unset;
        display: flex; 
        align-items: center; justify-content: center;
        border-radius: 50%;
        font-size: 1.2rem;

        &.btn-icon-page {
            border: unset;
            z-index: 999;
            box-shadow: unset !important;
            background-color: rgba(color('black'), .8);
            &.active {
                i { color: color('primary');}
            }
            &:focus {
                box-shadow: unset;
            }
            i { color: color('white') }
        }
    }
    
}
.btn-group {
    &.btn-group-action {
        position: fixed;
        z-index: 9;
        margin: auto;
        display: block;
        align-self: center;
        // align-items: center;
        // justify-content: center;
        bottom: 3rem;
        border-radius: 15px;
        // @media screen and (max-width: breakpoint('lg')) {
        //     justify-content: flex-end;
        // }
        .btn-group-action-container {
            background-color: color('primary');
            padding: 1.6rem 2rem !important;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(color('black'), .1);
        }
        .btn {
            &.btn-action {
                flex: unset;
                font-size: 1.2rem !important;
                margin: 0 1rem;
                padding: 0;
                color: color('white');
                opacity: .5;
                box-shadow: unset !important;
                outline: unset !important;
                &:focus {opacity: 1;}

            }
            &.active {
                background-color: darken(color('primary'), 10%) !important;
            }
            &:hover {
                color: color('white');
            }
        }
    }
    &.btn-group-glide-nav {
        position: absolute;
        left: 0; right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
            flex-shrink: 0;
            flex-grow: 0;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 .5rem;
            padding: 0 !important;
            border-radius: 50% !important;
            background-color: color('white');
            &.glide__bullet--active {
                background-color: color('primary') !important;
            }
        }
    }
    &.btn-group-glide-controls {
        position: absolute;
        right: 0;
        .btn {
            width: 4.4rem; height: 4.4rem;
            padding: 0 !important;
            border-radius: 50%;
            background-color: color('white');
            box-shadow: 0px 3px 23px 0px #00000026;
            display: flex; 
            align-items: center;
            justify-content: center;
            color: color('black');
        }
    }
}
.img-wrapper {
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.img-wrapper-spouse {
    font-size: 10px;
    width: 34em; height: 32em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: '';
        display: block;
        width: 34em; height: 32em;
        position: absolute;
        // top: 1.6em; left: -1em;
        background-image: url('../img/decoration/img-wrapper-spouse.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-wrapper {
        width: 20em;
        height: 20em;
        border-radius: 50%;
    }
}
.text-shadow {
    display: flex;
    align-items: center; justify-content: center;
    padding: 2rem 0;
    .text-shadow-content {
        font-size: 2.4rem;
        @media screen and (min-width: breakpoint('lg')) { font-size: 4.6rem !important; }
    }
    .text-shadow-item {
        position: absolute;
        font-size: 3.4em;
        font-weight: 500;
        transform: translate(20px, 20px);
        letter-spacing: 1.4rem;
        color: rgba(color('black'), .05);
        @media screen and (min-width: breakpoint('lg')) { 
            transform: unset;
            font-size: 9.6rem; 
            letter-spacing: 4rem; 
        }
    }
}
.decoration { 
    position: absolute; 
    font-size: 5px;
    z-index: 1;
    @media screen and (min-width: breakpoint('sm')) { font-size: 7px; }
    @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
    &.decoration-1 {
        top: 0; right: 0; 
        width: 22em;
    }
    &.decoration-2 {
        bottom: 0; left: 0;
        width: 22em;
    }
}

.divider {
    background-color: color('black');
    &.divider-horizontal { width: 100%; height: 1px; }
    &.divider-vertical { width: 1px; height: 100%; }
    @each $breakpoint-name, $breakpoint-value in $loop-breakpoints {
        @media screen and (min-width: $breakpoint-value) {
            &.divider-#{$breakpoint-name}-vertical { width: 1px !important; height: 100%; }
            &.divider-#{$breakpoint-name}-horizontal { width: 100%; height: 1px !important; }
        }
    }
}

// UTILITY
.font-type-secondary { font-family: $font-type-secondary; }

.text-white { color: color('white') !important; }
.text-primary { color: color('primary') !important; }
.text-dark { color: color('dark') !important; }
.text-dark-500 { color: color('dark-500') !important; }
.text-gray { color: color('gray') !important; }
.text-gray-800 { color: color('gray-800') !important; }

.text-spacing-default { 
    letter-spacing: 0.6rem; 
    @media screen and (max-width: breakpoint('md')) {
        letter-spacing: 0.4rem; 
    }
}

.text-height-2 { line-height: 1.6; }

.font-light {font-weight: 300 !important;}
.font-normal {font-weight: 400 !important;}
.font-semibold {font-weight: 600 !important;}
.font-bold {font-weight: 700 !important;}
.font-extrabold {font-weight: 800 !important;}
.font-boldest {font-weight: 900 !important;}

// background
.bg-primary {background-color: color('primary') !important;}
.bg-secondary {background-color: color('secondary') !important;}
.bg-gray {background-color: color('gray') !important;}
.bg-gray-800 {background-color: color('gray-800') !important;}

// border
.rounded-3 {
    border-radius: 1.5rem !important;
}

// misc
.csr-pointer {cursor: pointer;}

$spacing-props: (
    margin: m, 
    margin-left: ml, 
    margin-right: mr, 
    margin-top: mt, 
    margin-bottom: mb, 
    (margin-left, margin-right): mx,
    (margin-top, margin-bottom): my,
    padding: p, 
    padding-left: pl, 
    padding-right: pr, 
    padding-top: pt, 
    padding-bottom: pb, 
    (padding-left, padding-right): px,
    (padding-top, padding-bottom): py,
);
@for $i from 0 to 11 {
    @each $prop-name, $prop-abb in $spacing-props {
        .#{$prop-abb}-#{$i} {
            @each $pn in $prop-name {
                #{$pn}: ($i * 1) * .5rem !important;
            }
        }
    }
}
@for $i from 0 to 11 {
    @each $prop-name, $prop-abb in $spacing-props {
        @each $breakpoint-name, $breakpoint-value in $loop-breakpoints {
            .#{$prop-abb}-#{$breakpoint-name}-#{$i} {
                @media screen and (min-width: $breakpoint-value) {
                    @each $pn in $prop-name {
                        #{$pn}: ($i * 1) * .5rem !important;
                    }
                }
            }
        }
    }
}
.pt-lg-16 {
    @media screen and (min-width: breakpoint('lg')) {
        padding-top: 8rem !important;
    }
}
.mb-12 { margin-bottom: 6rem; }
.mb-16 { margin-bottom: 8rem; }
.my-lg-16 {
    @media screen and (min-width: breakpoint('lg')) {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }
}
.mb-sm-16 {
    @media screen and (min-width: breakpoint('sm')) {
        margin-bottom: 8rem !important;
    }
}
.mb-lg-16 {
    @media screen and (min-width: breakpoint('lg')) {
        margin-bottom: 8rem !important;
    }
}
.mb-lg-50 {
    @media screen and (min-width: breakpoint('lg')) {
        margin-bottom: 25rem !important;
    }
}
// SIZING
// loop to max size in base.scss
$sizing-props: (
    width: w, 
    height: h,
);
// UNIT SIZE (0, REM)
@for $i from 0 to (101) {
    @each $prop-name, $prop-abb in $sizing-props {
        // IF 0 : w-0 (no w-0rem)
        @if ($i == 0) {
            .#{$prop-abb}-#{$i} { #{$prop-name}: $i !important; }
        } @else {
            .#{$prop-abb}-#{$i}rem { #{$prop-name}: $i * 1rem !important; }
        }
    }
}
// UNIT SIZE (0, REM) RESPONSIVE
@for $i from 0 to (101) {
    @each $prop-name, $prop-abb in $sizing-props {
        @each $breakpoint-name, $breakpoint-value in $loop-breakpoints {
            // IF 0 : w-lg-0 (not w-lg-0rem)
            @if ($i == 0) {
                .#{$prop-abb}-#{$breakpoint-name}-#{$i} { 
                    @media screen and (min-width: $breakpoint-value) {
                        #{$prop-name}: $i !important; 
                    }
                }
            } @else {
                .#{$prop-abb}-#{$breakpoint-name}-#{$i}rem { 
                    @media screen and (min-width: $breakpoint-value) {
                        #{$prop-name}: $i * 1rem !important; 
                    }
                }
            }
        }
    }
}
// PERCENTAGE SIZE
@for $i from 25 to 101 {
    @if ($i % 25 == 0) {
        @each $prop-name, $prop-abb in $sizing-props {
            .#{$prop-abb}-#{$i} { #{$prop-name}: $i * 1%; }
            @each $breakpoint-name, $breakpoint-value in $loop-breakpoints {
                @media screen and (min-width: $breakpoint-value) {
                    .#{$prop-abb}-#{$breakpoint-name}-#{$i} { #{$prop-name}: $i * 1% !important; }
                }
            }
        }
    }
}

// OBJECT
.obj-fit {
    overflow: hidden;
    &.obj-fit-cover {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &.obj-fit-contain {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &.obj-fit-fill {
        img, video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


// vendors custom
// lightgallery
#row-lightgallery {
    [data-src] {
        img {
            transition: all .4s ease-in;
        }
        &:hover {
            cursor: pointer;
            img {
                transform: scale(1.02);
            }
        }
    }
    .img-wrapper {
        &.img-wrapper-gallery {
            width: 100%;
            overflow: hidden;
            font-size: 3px;
            @media screen and (min-width: breakpoint('sm')) { font-size: 7px; }
            @media screen and (min-width: breakpoint('lg')) { font-size: 10px; }
            &.img-wrapper-gallery-1 {
                height: 30em;
            }
            &.img-wrapper-gallery-2 {
                height: 48em;
            }
            &.img-wrapper-gallery-3 {
                height: 100.3em;
                @media screen and (min-width: breakpoint('sm')) { height: 98em; }
                @media screen and (min-width: breakpoint('lg')) { height: 99.3em; }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
// glide
.glide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    [data-glide-el="controls[nav]"] {
        position: absolute;
        left: 0; right: 0;
        bottom: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            border: unset;
            flex-shrink: 0;
            flex-grow: 0;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 .5rem;
            padding: 0 !important;
            border-radius: 50% !important;
            background-color: color('white');
            &.glide__bullet--active {
                background-color: color('primary') !important;
            }
        }
    }
    [data-glide-el="controls"] {
        position: absolute;
        right: 0;
        button {
            width: 4.4rem; height: 4.4rem;
            padding: 0 !important;
            border: unset;
            border-radius: 50%;
            background-color: color('white');
            box-shadow: 0px 3px 23px 0px #00000026;
            display: flex; 
            align-items: center;
            justify-content: center;
            color: color('black');
            transition: transform .4s ease-in;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@keyframes opening-hide {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
@keyframes pop-out {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1);
    }
}

